 
  .flash-message {
    background-color: #f2dede !important;
    color: #a94442 !important;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    width:30%;
    margin: auto;
    /* Add more styles as desired */
  }
 .flash-message.error {
  
  background-color: #f2dede !important;
  color: #a94442 !important;
}  
.flash-message.success {
  background-color: #39ff5a !important;
    color: #32CD32 !important;
}
