/* Background color for the body */
#body {
  background-color: #FFD700; /* Gold */
  padding: 10px;
}

/* Background color for the left column */
.leftcolumn {
  background-color: #F4A460; /* Sandy Brown */
  padding: 20px;
  margin-left: 15px;
  border-radius: 10px;
  position: absolute;
  top: 110px;
  left: 20px;
}

/* Background color for items in the left column */
.leftcolumn .item {
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

/* Background color for the middle column */
.middlecolumn {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Background color for the image section in the middle column */
.middlecolumn .img {
  background-color: #D2691E; /* Chocolate */
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/* Background color for the content section */
.content {
  width: 60%;
  background-color: #F4A460; /* Sandy Brown */
  margin-top: 1%;
  padding: 20px;
  text-align: left;
}

/* Background color for flash messages */
.flash-message {
  background-color: #FF6347; /* Tomato */
  color: #FFF;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  width: 30%;
  margin: auto;
}

/* Background color for error flash messages */
.flash-message.error {
  background-color: #B22222; /* Fire Brick */
}

/* Background color for success flash messages */
.flash-message.success {
  background-color: #32CD32; /* Lime Green */
}
