{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
{% if session["userRole"] == "Customer" %}
<div class="container">
    <div class="leftcolumn">
      
        <div class="item" onclick="location.href='/history'">History</div>
        <div class="item" onclick="location.href='/orders'">Current orders</div>
    </div>
    <div class="middlecolumn">
        {% for item in meals %}
         <div class="content">
            
            <h1 class="display">{{ item["Title"] }}</h1>

            <img src="{{ item['img_path'] }}" alt="{{ item['Title'] }}" style="height: 200px;">
            <p>{{ item["Description"] }}</p>
            <p>Total Price: {{ ItConverts(item["Price"]) }}</p>
            <p>Status: {{ history["Status"] }}</p>
            
          </div>
        {% endfor %}
       
    </div>
</div>
 
{% endif %}
{% endblock %}