{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <div class="logo"><h1>Welcome to ItsHomieFood!</h1></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
            {% for i in range(1, 4) %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <img src="{{ url_for('static', filename=i|string + '.jpg') }}" alt="Image {{ loop.index }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
