{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
{% if session["userRole"] == "Supplier" %}
<div class="row">
    <div class="leftcolumn" onclick="location.href='/profile'">
        <div class="item">
            Menu
        </div>
        <div class="item"onclick="location.href='/orders'">Current orders</div>
    </div>
    </div>
    <div class="middlecolumn">
        <form action="/newitem" method="get">
            <button id="add-item" class="btn btn-secondary btn-lg rounded-pill shadow-sm">
            <i class="fas fa-plus-circle mr-2"></i> Add Item
            </button>
        </form>
        {% for item in meals %}
        <div class="content">
           
           <h1 class="display">{{ item["Title"] }}</h1>

           <div class="img" style="height:200px;">{{ item["img_path"] }}</div>
           <p>{{ item["Description"] }}</p>
           <p>Total Price: {{ item["Price"] }}</p>
           <form action="/profile" method="post">
               <input type="hidden" name="item_id" value="{{ item['id'] }}">
               <button type="submit" class="btn btn-danger">Delete Entry</button>
           </form>
           
         </div>
       {% endfor %}

    </div>


</div>
{% else %}
<div class="row">
    <div class="row">
        <div class="leftcolumn">
            <div class="item">
                <a href="/history">History</a>
            </div>
            <div class="item">
                <a href="/orders">Current orders</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}